# Copiez ce fichier en .env et remplissez vos vraies valeurs
# NE JAMAIS uploader .env sur GitHub ou Netlify en clair
# Ces variables sont à saisir dans : Netlify > Site settings > Environment variables

SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=quiz@nsiaholdingassurances.com
SMTP_PASS=VOTRE_MOT_DE_PASSE_ICI
SMTP_DEST=quiz@nsiaholdingassurances.com
SMTP_FROM_NAME=NSIA Holding Assurances
